---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Sobre el Proyecto'>
    <h1>Sobre el Proyecto</h1>

    <p>El proyecto SpaceX Launches es una demostración del framework Astro. y está creado con fines de aprendizaje.</p>
</Layout>